.home_container {
  max-width: 1280px;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 850px;
}
.infinite-scroll-component {
  width: 80%;
  height: fit-content;
  display: flex;
  overflow: hidden !important;
  flex-direction: column;
  align-items: center;
}

.viewpost_container {
  width: 80%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

}

.loading_spinner {
  margin-top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left-color: #161616;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 768px) {
  .infinite-scroll-component {
    width: 100%;
  }

  .viewpost_container {
    width: 100%;
  }
}
