.home_container {
  max-width: 1280px;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 850px;
}
.infinite-scroll-component {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewpost_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 768px) {
  .infinite-scroll-component {
    width: 100%;
  }

  .viewpost_container {
    width: 100%;
  }
}
