.post_container {
  position: sticky !important;
  top: 50px;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.form_container form:hover {
  background-color: rgb(244, 244, 244);
}

.form_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container form {
  background-color: #fdfff5;
  padding: 0.5rem;
  width: 80%;
  outline: 1px solid #d0d0d0;
  border: none;
  margin-top: 1px;
}

.form_container form label textarea {
  padding: 0.75rem;
  width: 100%;
  height: 50px;
  resize: none;
  outline: 0;
  border: 1px solid #d0d0d0;
  transition: height 1s ease;

}
.form_container form label textarea:focus {
  height: 100px;
}

.tags_and_button_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tags_and_button_container label {
  width: 50%;
}

.tags_and_button_container input {
  padding: 0.25rem;
  width: 100%;
  font-family: monospace;
  outline: 0;
  border: 1px solid #d0d0d0;  
}

input[type=text] {
  -webkit-appearance: none;
}

.tags_and_button_container button {
  padding: 0.25rem;
  background-color: #100c08;
  color: #fdfff5;
}

@media only screen and (max-width: 768px) {
  .post_container {
    width: 100%;
  }

  .form_container form label textarea {
    font-size: 16px;
  }

  .form_container {
    width: 100%;
  }

  .form_container form {
    width: 100%;
  }

  .tags_and_button_container input {
    font-size: 16px;
  }
}
